<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>학생 자가진단 등록</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>
<body>
<div class="login-dark">
    <form action="" method="get">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group"><input class="form-control" type="text" name="name" placeholder="이름"></div>
        <div class="form-group"><input class="form-control" type="text" name="birth" placeholder="생년월일"></div>
        <div class="form-group">
            <select class="form-control" name="geo">
                <optgroup>
                    <option value="서울" selected="서울">서울</option>
                    <option value="경기">경기</option>
                    <option value="대전">대전</option>
                    <option value="대구">대구</option>
                    <option value="부산">부산</option>
                    <option value="인천">인천</option>
                    <option value="광주">광주</option>
                    <option value="울산">울산</option>
                    <option value="세종">세종</option>
                    <option value="충북">충북</option>
                    <option value="충남">충남</option>
                    <option value="경북">경북</option>
                    <option value="경남">경남</option>
                    <option value="강원">강원</option>
                    <option value="전북">전북</option>
                    <option value="전북">전남</option>
                    <option value="제주">제주</option>
                </optgroup>
            </select>
        </div>
        <div
                class="form-group"><input class="form-control" type="text" name="orgName" placeholder="학교 이름">
        </div>
        <div class="alert alert-success" role="alert"><span>{{ .msg }}</span></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">등록</button></div>
        <a class="forgot" href="#">등록을 누를 시 개인정보처리방침에 동의한 것으로 간주합니다.</a>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>